## General
*.DS_Store
*.bak
*.swp
*.tmp
*.log
*.log.*
*.cache
*.out
*.pid
*.pid.lock
*.pid.lock.*


## 00_Transformer
*__pycache__*
*.pt
*.json
*runs/
*weights/
*wandb/

## 03_Llama
*__pycache__*
*llama-2-7b*
*.model
*.chk
*LICENSE*
*USE_POLICY*

## 05_Quantization
*__pycache__*
*05_Quantization/data/*

## 02_Vision_Model
*ImageNetV2-matched-frequency*
*.tar*
*.gz*

## 04_RAG
*__pycache__*
*04_RAG/*/chroma_persistent_storage/*